# Logs
logs
*.log
npm-debug.log*

# Dependências
node_modules

# Build
dist
dev-dist
*.local
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Cobertura de testes
coverage
